*{
    background-color: black;
}
input{
    background-color: white;
}
header{
    color: red;
    font-family: Impact;
}
body{
    text-align: center;
    color: red;
    padding: 5px;
    font-size: 28px;
}
button{
    color: red;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    font-family: Impact;
}
div{
    display: inline;
}
a{
    display: inline;
    font-size: 25px;
}
p{
    display: inline;
    font-size: 15px;
}
#Bien{
    display: none;
}
.M{
    font-size: 15px;
    color: black;
    background-color: white;
    padding-bottom: 3px;
    transform: translateX(-35px);
    cursor: pointer;
}